* {
    font-family: 'Tangerine', serif;
    margin:0;
    padding: 0;
    border:0;

}

.title-container {
    position: relative;
    cursor: default;
    pointer-events: none;
}

.title {
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 90px;
    font-weight: 600;
    
}
.mini-title{
    margin: auto;
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 50px;
    font-weight: 600;
    background: -webkit-linear-gradient(#eee, #FD2D36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    pointer-events: none;
}

#curve {
    display: none;
}

/* __________________________ Bird __________________ */
